.logo{
    position: relative;
    height:155px;
    width:120px;
    z-index: 1;
    justify-content: center;
    left: 110px;
    top: 5px;

    
}

.text-area{
    position: absolute;
    /* bottom: 5px; */
    height:180px;
    width: 100%;
    background-color:rgb(8, 8, 74);
    align-items: center;
   top:-21px;
    color: white;
    text-align: center;
}